.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   

    
  
}

.intro {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  width: 100%;
  height: 100vh;
  
  background-color: rgb(39, 126, 126);
   background-position: 30% 45%;
  background-size: cover;
}
.descriton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

   
    padding: 8px;
    max-width: 400px;

    width: 100%;
    height: 100vh;
 
  padding: 100px 8px;

  left: 0;
  right: 0;
 
  
  background-position: 30% 45%;
  background-size: cover;
}
.contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 50px;
    max-width: 453px;
    padding: 5px;

    text-align: center;
}
.contatos h3 {
    padding: 10px;
    font-size: 32px;
    font-family: Roboto;
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
}
.contatos i{
    margin-bottom: 16px;
}

img#eu {
   
     
    border-radius: 50%;
    
    
    
    max-width: 250px; 
    margin-bottom: 10px; 
    
}
.descriton h3 {
    text-align: center;
    color: aliceblue;
}
.descriton h5 {
    text-align: center;
    
}
