.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 126, 126);
    height: 720px;
}
.descriton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
}
img#eu {
   
     
    border-radius: 50%;
    
    
    
    max-width: 250px; 
    margin-bottom: 10px; 
    
}
.descriton h3 {
    text-align: center;
    color: aliceblue;
}
.descriton h5 {
    text-align: center;
    
}
