/* 
#nave {
    height: 20px;
}
.container {
    height: 40px;

} */

.navbar{
    padding: 15px;
    background: blue;
}
.container-nave {
   position: fixed;
   top: 0;
    right: 0;
    left: 0;

}
.container-nave h1, h3{
    color: #fff;
}
.nav-item {
    text-decoration: #fff;
   
}

